<!-- Modal  -->
<div #exampleModal id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

      <div *ngIf="progressoPublicacao === 'pendente'">
        <form [formGroup]="formulario" (ngSubmit)="publicar()">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Publish</h5>
            <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <input 
              type="text"
              placeholder="Title"
              class="form-control invalid"
              formControlName="titulo">

              <div class="modal-body-dow ">

                <label for="file-input">
                  <img src="../../../assets/btn_camera_icon.png"/>
                </label>
          
                <input id="file-input"
                      type="file"
                      accept="image/*"
                      (change)="preparaImagemUpload($event)"/>

                <span class="urlSpan"> {{ ulrImg }} </span>

              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
            <button type="submit"
                    class="btn btn-primary" 
                    [disabled]="imagem ?  '' : 'disabled' "
                    >Publish</button>
          </div>
       </form>
      </div>

      <div *ngIf="progressoPublicacao === 'andamento'">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Publishing...</h5>
          </div>

          <div class="modal-body">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentagemUpload+'%'"></div>
            </div>
          </div>
      </div>

  </div>
 